*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
# Standard Laravel overrides
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
database/*.sqlite
database/*.sqlite-journal

# Compiled css/js
/public/css/*
/public/js/*
!/public/css/.gitignore
!/public/js/.gitignore
# Ignore all python scratch scripts generated
*.py

# Ignore installers and binary bundles
/installer-build/
*.exe
*.zip
*.tar.gz
*.vbs
*.bat
*.iss
*.cs
